html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 320px;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555671;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}
.section {
  padding: 240px 0;
}
.section-title {
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #181a3f;
  padding-left: 0;
}
.navigation {
  display: none;
  position: fixed;
  justify-content: center;
  min-width: 320px;
  top: 122px;
  left: 0;
  right: 0;
  background-color: rgba(#fff, 1);
  transform: translateY(-300%);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  z-index: 20;
  &--active {
    display: flex;
    transform: translateY(0);
  }
}
.menu {
  padding: 30px 0;
  border-top: 1px solid #dad9d6;
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link {
      font-size: 20px;
      line-height: 24px;
      color: #555671;
      transition: color 0.3s;
      &:hover {
        color: #ff7549;
      }
    }
  }
}
.heading {
  margin: 0 auto;
  padding: 0 12px 80px;
}
.contact-btn {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 56px;
  background: #ff7549;
  border: 2px solid #ff7549;
  transition: color 0.3s, border 0.3s;
  &:hover {
    border: 2px solid #000;
    color: #ffffff;
  }
  &:active {
    color: #000;
  }
}
.more-btn {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #181a3f;
  padding: 17px 56px;
  background: #fff;
  border: 2px solid #181a3f;
  transition: color 0.3s, border 0.3s;
  &:hover {
    border: 2px solid #ff7549;
    color: #181a3f;
  }
  &:active {
    color: #ff7549;
  }
}
.social-network {
  text-align: end;
  &__link {
    &:not(:last-child) {
      padding-right: 28px;
    }
  }
  &__img {
    object-fit: contain;
  }
}
