// ≥1200px
@include media-breakpoint-down(xl) {
  .hero {
    &__info-wrapper {
      top: 10%;
      transform: translateY(0);
    }
    &__image-wrapper {
      height: 700px;
    }
    &__img {
      width: 400px;
      height: 700px;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
    }
    &__contact {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .history {
    &__img {
      max-width: 350px;
      max-height: 350px;
    }
    &__img-decorative {
      display: none;
    }
  }
  .promo {
    &__info-wrapper {
      top: 10%;
      transform: translateY(0);
    }
    &__image-wrapper {
      height: 600px;
    }
    &__img {
      height: 600px;
    }
  }
  .footer {
    padding: 150px 0;
    &__list-info {
      margin: 0 50px 0 30px;
    }
  }
}
// ≥992px
@include media-breakpoint-down(lg) {
  .section {
    padding: 200px 0;
  }
  .section-title {
    padding: 0;
  }
  .heading {
    padding-bottom: 50px;
    &__title {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .navigation {
    bottom: 0;
  }
  .menu {
    &-list {
      flex-direction: column;
      &__item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
  .hero {
    &__inner {
      padding: 30px 0;
    }
    &__info-container {
      display: flex;
      flex-direction: column;
    }
    &__info-wrapper {
      width: 80%;
      position: static;
      top: 0;
    }
    &__info-content {
      width: 100%;
      margin: 0 auto;
    }
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__image-container {
      width: 80%;
      margin: 30px auto 0;
      text-align: center;
    }
    &__image-wrapper {
      height: 400px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img {
      transform: rotateZ(90deg);
      height: 700px;
      width: 400px;
    }
  }
  .services {
    &__wrapper {
      padding: 200px 0 100px;
    }
    &__btn {
      max-width: 370px;
    }
    &__card {
      margin-bottom: 70px;
    }
  }
  .history {
    &__text {
      max-width: 420px;
      &--left {
        text-align: center;
        margin: 0 auto 50px;
      }
      &--right {
        text-align: center;
        margin: 50px auto 0;
      }
    }
    &__division {
      text-align: center;
    }
  }
  .portfolio {
    &__project {
      padding: 45px 0;
    }
    &__project-name {
      line-height: 35px;
    }
    &__project-topic {
      font-size: 30px;
      line-height: 30px;
    }
    &__project-info {
      max-width: 95%;
    }
  }
  .promo {
    &__info-container {
      display: flex;
      flex-direction: column;
    }
    &__info-wrapper {
      padding-top: 20px;
      width: 80%;
      position: static;
      top: 0;
    }
    &__info-content {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    &__title {
      margin: 0 auto 30px;
      text-align: center;
    }
    &__image-container {
      width: 95%;
      margin: 30px auto 0;
      text-align: center;
    }
    &__image-wrapper {
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img {
      width: 450px;
      height: 450px;
    }
  }
  .steps {
    &__description {
      text-align: center;
    }
    &__card {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .articles {
    &__card {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .contacts {
    padding: 150px 0;
    &__wrapper {
      text-align: center;
    }
    &__title {
      font-size: 50px;
      line-height: 65px;
      margin-bottom: 40px;
    }
    &__communication {
      text-align: center;
    }
  }
  .footer {
    &__block {
      margin-bottom: 40px;
    }
    &__navigation {
      margin: 0 auto;
    }
    &__list-info {
      margin: 0 30px;
    }
    &__list-link {
      width: auto;
    }
  }
  .copyright {
    &__list {
      margin-bottom: 30px;
    }
  }
  .social-network {
    text-align: center;
  }
}
// ≥768px
@include media-breakpoint-down(md) {
  .section {
    padding: 100px 0;
  }
  .section-title {
    font-size: 30px;
    line-height: 40px;
  }
  .contact-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 56px;
  }
  .more-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 56px;
  }
  .animated {
    animation: none !important;
  }
  .hero {
    &__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__image-wrapper {
      height: 600px;
    }
    &__img {
      transform: rotateZ(0deg);
      height: 600px;
    }
  }
  .services {
    &__wrapper {
      padding: 100px 0 30px;
    }
    &__card {
      margin-bottom: 50px;
    }
  }
  .promo {
    &__image-wrapper {
      height: 350px;
    }
    &__img {
      width: 450px;
      height: 350px;
    }
  }
  .steps {
    &__cards {
      margin-bottom: 40px;
    }
    &__buttons {
      flex-direction: column;
    }
    &__contact {
      max-width: 295px;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__more {
      max-width: 295px;
      width: 100%;
    }
  }
  .contacts {
    padding: 100px 0;
    &__title {
      font-size: 40px;
      line-height: 50px;
    }
    &__item {
      font-size: 30px;
      line-height: 40px;
      &::before {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .footer {
    padding: 100px 0;
    &__navigation {
      flex-direction: column;
      text-align: center;
    }
    &__list-info {
      margin: 35px 0;
    }
  }
  .copyright {
    padding: 20px 0;
    &__list {
      text-align: center;
    }
  }
  .social-network {
    &__link {
      &:not(:last-child) {
        padding-right: 15px;
      }
    }
  }
}
// ≥576px
@include media-breakpoint-down(sm) {
  .section {
    padding: 50px 0;
  }
  .heading {
    padding-bottom: 40px;
  }
  body {
    font-size: 16px;
    line-height: 25px;
  }
  .section-title {
    font-size: 25px;
    line-height: 35px;
  }
  .more-btn {
    padding: 17px 30px;
  }
  .navigation {
    top: 140px;
  }
  .header {
    padding: 20px 0;
    &__buttons {
      padding: 20px 20px 0;
    }
  }
  .cart {
    margin-right: auto;
  }
  .hero {
    &__info-wrapper {
      width: 100%;
    }
    &__title {
      font-size: 35px;
      line-height: 45px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__image-container {
      width: 100%;
    }
    &__image-wrapper {
      height: 500px;
    }
    &__img {
      height: 500px;
      width: 310px;
    }
  }
  .services {
    &__wrapper {
      padding: 50px 0 25px;
    }
    &__btn {
      max-width: 295px;
    }
    &__card {
      max-width: 320px;
      text-align: center;
      margin-bottom: 25px;
    }
    &__card-image {
      margin: 0 0 15px;
    }
    &__card-body {
      padding: 10px;
    }
    &__card-title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  .history {
    &__btn {
      max-width: 295px;
    }
    &__text {
      max-width: 300px;
      &--left {
        margin: 0 auto 30px;
      }
      &--right {
        margin: 30px auto 0;
      }
    }
    &__img {
      max-width: 300px;
      max-height: 300px;
    }
  }
  .portfolio {
    &__btn {
      max-width: 295px;
    }
    &__project {
      padding: 30px 10px;
    }
    &__project-topic {
      font-size: 25px;
      margin-bottom: 15px;
    }
    &__project-info {
      margin: 0;
    }
  }
  .promo {
    &__info-wrapper {
      width: 100%;
    }
    &__contact {
      max-width: 295px;
      width: 100%;
    }
    &__image-container {
      width: 100%;
    }
    &__image-wrapper {
      height: 295px;
    }
    &__img {
      width: 295px;
      height: 295px;
    }
  }
  .steps {
    &__description {
      font-size: 16px;
    }
    &__card {
      max-width: 320px;
      border: none;
      border-radius: 0;
    }
    &__card-text {
      font-size: 16px;
    }
  }
  .articles {
    &__btn {
      max-width: 295px;
    }
    &__card {
      max-width: 320px;
    }
    &__card-image {
      margin-bottom: 20px;
    }
    &__card-body {
      text-align: center;
    }
  }
  .contacts {
    padding: 50px 0;
    &__title {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__item {
      font-size: 20px;
      line-height: 20px;
      &::before {
        font-size: 20px;
        line-height: 20px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  .footer {
    padding: 50px 0;
    &__navigation {
      margin: 30px 0;
    }
    &__contacts {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
      &::before {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &__list-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    &__list-item {
      padding-bottom: 15px;
    }
  }
}
