.promo {
  background: #f0efec;
  &__info-container {
    position: relative;
  }
  &__info-wrapper {
    display: flex;
    align-items: center;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
  &__info-content {
    width: 50%;
    margin-right: auto;
  }
  &__title {
    max-width: 450px;
    margin-bottom: 55px;
  }
  &__image-container {
    width: 50%;
    margin-left: auto;
    text-align: end;
  }
  &__image-wrapper {
    height: 662px;
  }
  &__img {
    max-width: 100%;
    object-fit: cover;
  }
}
