.services {
  &__wrapper {
    padding: 240px 0 140px;
    border-bottom: 1px solid #dad9d6;
  }
  &__card-title-decoration {
    color: #ff7549;
  }
  &__btn {
    max-width: 364px;
  }
  &__card {
    max-width: 340px;
    border: none;
    border-radius: 0;
    margin-bottom: 100px;
  }
  &__card-image {
    margin: 0 0 23px;
    height: 92px;
  }
  &__card-img {
    object-fit: contain;
  }
  &__card-body {
    padding: 10px 10px 10px 0;
  }
  &__card-title {
    font-size: 28px;
    line-height: 39px;
    color: #181a3f;
    margin-bottom: 13px;
  }
  &__card-text {
    word-break: break-word;
  }
}
