.steps {
  &__wrapper {
    border-bottom: 1px solid #dad9d6;
  }
  &__description {
    font-size: 17px;
    text-align: left;
  }
  &__cards {
    margin: 0 0 75px;
  }
  &__card {
    max-width: 350px;
    border: none;
    border-radius: 0;
  }
  &__card-image {
    height: 84px;
    margin: 0 0 23px;
  }
  &__card-img {
    object-fit: contain;
  }
  &__card-body {
    padding: 10px 10px 10px 0;
  }
  &__card-title {
    font-size: 28px;
    line-height: 39px;
    color: #181a3f;
    margin-bottom: 13px;
  }
  &__card-title-decoration {
    color: #ff7549;
    padding-right: 5px;
  }
  &__card-text {
    font-size: 18px;
    word-break: break-word;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contact {
    margin-right: 28px;
  }
}
